<div class="flex flex-col gap-2">
  <div class="flex gap-1">
    <input
      [ngModel]="
        (fromAmount | number: '0.0-2')?.toString()?.replaceAll(',', '')
      "
      (ngModelChange)="fromAmount = $event"
      (keyup)="convert(true)"
      type="number"
      value="123"
      class="rounded border"
    />

    <select
      [(ngModel)]="fromCurrency"
      (change)="convert(true)"
      class="rounded border"
    >
      <option>UAH</option>
      <option>USD</option>
      <option>EUR</option>
    </select>
  </div>

  <div class="flex gap-1">
    <input
      [ngModel]="(toAmount | number: '0.0-2')?.toString()?.replaceAll(',', '')"
      (ngModelChange)="toAmount = $event"
      (keyup)="convert(false)"
      type="number"
      class="rounded border"
    />

    <select
      [(ngModel)]="toCurrency"
      (change)="convert(true)"
      class="rounded border"
    >
      <option>UAH</option>
      <option>USD</option>
      <option>EUR</option>
    </select>
  </div>
</div>
